body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.friend_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.friend_container ul {
  list-style-type: none;
  padding: 2%;
  line-height: 30px;
}

.title {
  font-weight: 800;
  padding-right: 5%;
}

.dog_gallery { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dog_gallery img {
  height: 200px;
  width: auto;
  padding: 2% 0;
}

.joke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joke_item {
  border: 5px solid pink;
  margin: 3%;
  padding: 2%;
}